@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root{
   --main-color:#DA2C32;
   --light-color:#666;
   --light-bg:#eee;
   --white:#fff;
   --black:#303030;
   --border:.1rem solid var(--light-color);
   --box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
   --dark-jungle-green: hsl(188, 63%, 7%);
   --prussian-blue: hsl(200, 69%, 14%);
   --raisin-black-1: hsl(227, 29%, 13%);
   --raisin-black-2: hsl(229, 17%, 19%);
   --yellow-green: hsl(89, 72%, 45%);
   --orange-soda: hsl(9, 100%, 62%);
   --cultured-1: hsl(0, 0%, 93%);
   --cultured-2: hsl(192, 24%, 96%);
   --misty-rose: hsl(7, 56%, 91%);
   --alice-blue: hsl(210, 100%, 97%);
   --seashell: hsl(8, 100%, 97%);
   --cadet: hsl(200, 15%, 43%);
   --white: hsl(0, 0%, 100%);
   --black: hsl(0, 0%, 0%);
   --opal: hsl(180, 20%, 62%);
}

*{
   font-family: 'Montserrat', sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: var(--orange-soda);
   color: var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--orange-soda);
   border-radius: 5rem;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 10rem;
}



section{
   padding: 3rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
}



.btn,
.inline-btn{
   margin-top: 1rem;
   padding: 1rem 3rem;
   background-color: var(--orange-soda);
   color: var(--white);
   cursor: pointer;
   text-align: center;
   font-size: 1.8rem;
   text-transform: capitalize;
}

.btn:hover,
.inline-btn:hover{
   background: var(--white);
   color: var(--dark-jungle-green);
   border:black solid 1px;
}

.btn{
   display: block;
   width: 100%;
}

.inline-btn{
   display: inline-block;
}



.view-property .details{
   background-color: var(--white);
   box-shadow: var(--box-shodow);
   padding: 2rem;
   overflow-x: hidden;
}

.view-property .details .thumb{
   background-color: var(--white);
   padding: 1.5rem;
   margin-bottom: 1.5rem;
}

.view-property .details .thumb .big-image img{
   height: 40rem;
   width: 100%;
}

.view-property .details .thumb .small-images{
   display:flex;
   justify-content: center;
   gap: 1.5rem;
   padding-top: 1rem;
   flex-wrap: wrap;
}

.view-property .details .thumb .small-images img{
   height: 7rem;
   width: 10rem;
   object-fit: cover;
   cursor: pointer;
   transition: .2s linear;
}

.view-property .details .thumb .small-images img:hover{
   transform: scale(1.1);
}

.view-property .details .name{
   font-size: 2rem;
   text-overflow: ellipsis;
   overflow-x: hidden;
   margin-bottom: .5rem;
}

.view-property .details .location{
   padding-top: 1rem;
   font-size: 1.6rem;
   color: var(--light-color);
}

.view-property .details .location i{
   margin-right: 1rem;
   color: var(--orange-soda);
}

.view-property .details .info{
   display: flex;
   background-color: var( --misty-rose);
   padding: 1.5rem;
   margin: 1.5rem 0;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
}

.view-property .details .info p{
   font-size: 1.7rem;
}

.view-property .details .info p span,
.view-property .details .info p a{
   color: var(--light-color);
}

.view-property .details .info p a:hover{
   text-decoration: underline;
}

.view-property .details .info p i{
   margin-right: 1.5rem;
   color: var(--orange-soda);
}

.view-property .details .title{
   font-size: 2rem;
   color: var(--black);
   padding-bottom: 1.5rem;
   border-bottom: var(--border);
}

.view-property .details .flex{
   margin: 1.5rem 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.view-property .details .flex .box{
   flex: 1 1 40rem;
}

.view-property .details .flex .box p{
   padding: .5rem 0;
   font-size: 1.6rem;
   color: var( --prussian-blue);
}

.view-property .details .flex .box i{
   color: var(--orange-soda);
   margin-right: 1.5rem;
}

.view-property .details .description{
   padding: .5rem 0;
   margin-top: .5rem;
   font-size: 1.6rem;
   color: var(--light-color);
   line-height: 1.5;
}

 .row{
   background: #fff;
   border:.1rem solid rgba(0,0,0,.2);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   border-radius: .5rem;
   display: flex;
   flex-wrap: wrap-reverse;
   padding:1rem;
}



 .row .map{
   flex:1 1 30rem;
   width:100%;
   padding:1rem;
}



 .icons{
   flex:1 1 25rem;
   background: #fff;
   padding:2rem;
   border:.1rem solid rgba(0,0,0,.2);
   border-radius: .5rem;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   text-align: center;
}

  .icons img{
   height:6rem;
}

  .icons h3{
   font-size: 2.5rem;
   color:#333;
   padding:1rem 0;
}

.icons p{
   font-size: 1.5rem;
   color:#666;
   padding:.2rem 0;
}
.prise{
   color: var(--orange-soda);
   font-size :26px;;
   margin-top: 10px;
}
 .share{
    padding-top: 2rem;
}

 .share a{
    margin:0 .3rem;
    height:4rem;
    width:5rem;
    line-height: 4rem;
    background:#f7f7f7;
    color:#666;
    border-radius: .5rem;
    font-size: 2rem;
}

 .share a:hover{
    background:var(--orange-soda);
    color:#fff;
}






/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .navbar .menu{
      position: absolute;
      top: 99%; left: 0; right: 0;
      background-color: var(--white);
      border-top: var(--border);
      transition: .2s linear;
      z-index:1;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar .menu.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar .menu ul li{
      width: 100%;
      position: relative;
   }

   .header .navbar .menu ul li a{
      width: 100%;
   }

   .header .navbar .menu ul li ul{
      position: relative;
      width: 100%;
   }

   .header .navbar .menu ul li ul li a{
      padding-left: 4rem;
      background-color: var(--black);
      color: var(--white);
   }

   .view-property .details .thumb .big-image img{
      height: auto;
   }

   .view-property .details .thumb .small-images img{
      height: 4rem;
      width: 6rem;
   }

   #filter-btn{
      display: inline-block;
   }

   .filters{
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      overflow-y: scroll;
      background-color: var(--white);
      z-index: 1100;
      padding: 0;
      display: none;
   }

   .filters.active{
      display: block;
   }

   .filters form{
      box-shadow: none;
   }

   .filters form #close-filter{
      display: block;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .header .navbar .flex .logo{
      font-size: 1.8rem;
   }

   .home .center form .flex{
      gap: 0;
   }

   .listings .box-container{
      grid-template-columns: 1fr;
   }

   .reviews .box-container{
      grid-template-columns: 1fr;
   }

}